# ignore /x64/*.* 
x64/
x64/*.*

# ignore /Debug
Debug/
Debug/*.*

# ignore /GameCore/x64
GameCore/x64/
GameCore/x64/*.*

# ignore /GameCore/Debug
GameCore/Debug/
GameCore/Debug/*.*

# ignore /GameCoreTests/x64
GameCoreTests/x64/
GameCoreTests/x64/*.*

# ignore /GameCoreTests/Debug
GameCoreTests/Debug/
GameCoreTests/Debug/*.*

.git/*.*
.git/

.vs/*.*
.vs/

packages/
packages/*.*